p {
    font: italic;
    text-decoration: underline;
    text-transform: uppercase;
    text-indent: 40px;
    line-height: 32px;
    word-spacing: 2px;
    word-spacing: 4px;
    border-left-style: solid;
    border-left-width: 8px;
    border-left-color: green;
}
ul {
    list-style-image: url("https://www.ifpb.edu.br/favicon.ico ");
}
ol {
    list-style-type: lower-roman;
}