
            h1 {
                font-size: 32px;
                background-color: lightgreen;
                font-family: sans-serif;
            }
            h2 {
                background-color: lightblue;
            }
            p {
                background-color: lightsalmon;
            }